# Copy this file to .env and fill in your values
# The .env file is gitignored — never commit your actual license key

# Find this at: one.newrelic.com > (your name, top right) > API keys
# Use the key of type "INGEST - LICENSE" (not User key, not Browser key)
NEW_RELIC_LICENSE_KEY=your_ingest_license_key_here
