integrations:
- name: nri-haproxy
  env:
    # A user defined cluster name for the HAProxy instance
    ha_proxy_cluster_name: my_haproxy_1

    # Basic auth username
    username: cacheuser
    # Basic auth password
    password: password
    
    # The URL to the enabled stats page on the
    # HAProxy instance
    stats_url: http://haproxy-instance/stats

  interval: 15s
  labels:
    env: production
    label: haproxy-cluster-member-1
  inventory_source: config/haproxy
