integration_name: com.newrelic.haproxy

instances:
  - name: haproxy
    # Command can be all_data, metrics, or inventory
    command: all_data
    arguments:
      # The URL to the enabled stats page on the 
      # HAProxy instance
      stats_url: http://haproxy-instance/stats
      # Basic auth username
      username: cacheuser
      # Basic auth password
      password: password
